/*Stylesheet by Cherie Y. Bryant, 2021 */

#map {height: 500px;}

.leaflet-popup-content p {
    margin: 0.2em 0;
}

#sequence-controls {
    text-align: center;
    width: 26%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}

.range-slider {
    width: 50%;
}

#forward {
    float: right;
}

#reverse {
    float: left
}
